.color-set {
  display: flex;
  border: 1px solid #ddd;
  height: 200px;
  width: 400px;
  margin: 1rem;

  input[type="color"] {
    visibility: hidden; 
  }
  
  &__col {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
    overflow: visible;
  }
  
  &__cell {
    position: relative;
    flex: 1 0 auto;
  }
}
